<div class="task-info-block col-8">
    <h1 class="new-task-info-page-title">New Task</h1>
    <div class="task-info">
        <div class="task-info-title-author">
            <div class="mb-3 col-6">
                <input name="task-title" placeholder="Title" [(ngModel)]="task.title" class="form-control" id="exampleFormControlInput1">
            </div>

            <div class="mb-3 col-4 task-author">
                <label for="exampleFormControlInput4" class="form-label">Author:</label>
                <input class="form-control-plaintext" readonly [(ngModel)]="task.author_id" id="exampleFormControlInput4">
            </div>
        </div>

        <div class="mb-3">
            <textarea name="task-description" placeholder="Description" [(ngModel)]="task.description" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Executor:</label>
            <input class="form-control" placeholder="Executor" [(ngModel)]="task.executor_id" id="exampleFormControlInput3">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">Status:</label>
            <input class="form-control" [(ngModel)]="task.status_id" id="exampleFormControlInput5">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput6" class="form-label">Deadline:</label>
            <input name="task-deadline" [(ngModel)]="task.deadline" class="form-control" id="exampleFormControlInput6">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput7" class="form-label">Priority:</label>
            <input name="task-deadline" class="form-control" [(ngModel)]="task.priority_id" id="exampleFormControlInput7">
        </div>
        
        <div class="task-control-buttons">
            <button type="button" (click)=dontSaveChanges() class="btn btn-outline-danger">Cancel</button>
            <button type="button" (click)=saveChanges() class="btn btn-outline-success">Save</button>
        </div>
    </div>
</div>